[Unit]
Description= CarryAI fastapi yolo analysis
After=network.target

[Service]
Type=simple
ExecStart=/home/jetsonnano/.local/bin/fastapi run /home/jetsonnano/YOLO_Comparison/main.py  --port 8005
PIDFile=/home/jetsonnano/YOLO_Comparison/YOLO_Comparison.pid
RestartSec=5
Restart=on-failure
User=jetsonnano
Group=jetsonnano
WorkingDirectory=/home/jetsonnano/YOLO_Comparison

[Install]
WantedBy=multi-user.target
